.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  background-image: url(./img-jpg/Antenas\ Ubiquiti.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 6%;
  width: 6%;
  border-radius: 50%;
  margin-right: 20px;
}

.Photos {
  width: 50%;
  height: 25%;
}